<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <h1>Login page</h1>
    <form action="/api/users/login" method="post">
        <label for="email">email</label>
        <input type="text" id="email" name="email">

        <label for="password">password</label>
        <input type="text" id="password" name="password">

        <button type="submit">submit</button>
    </form>
    <% if (typeof error !=='undefined' ) { %>
        <p>
            <%= error %>
        </p>
        <% } %>

</body>

</html>