<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>

<body>
    <h1>signup</h1>
    <form action="/api/users/signup" method="post">
        <label for="username">username</label>
        <input type="text" id="username" required name="username">

        <label for="email">email</label>
        <input type="text" id="email" required name="email">

        <label for="password">password</label>
        <input type="text" id="password" required name="password">

        <button type="submit">submit</button>
    </form>
</body>

</html>